/* Color palette: https://colorhunt.co/palette/191a191e51284e9f3dd8e9a8 */
/* html, body {margin: 0; height: 100%; overflow: hidden} */
/* TODO: zrobić tak żeby dało się scrollować tylko menu a mapy nie */
/* LOADER */

.loader {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

.loader h1 {
  margin-top: -100px;
}


/* APP */

.app-container {
  display: flex;
}



.map {
  height: 100vh;
  width: 75%;
}

/* MENU */


.menu {
  background-color: #191A19;
  width: 25%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  margin-bottom: 50px;
  background-color:#1E5128;
  text-align: center;
}

.header h1 {
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  font-variant-caps: all-small-caps;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.search-form {
  padding: 10px;
}

.search-form h4, h4 {
  padding-left: 0px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  margin-top: 10px;
  color: #a1acbd;
  background-color: #3d3e3f;
  text-align: center;
  font-size: 1.5vh;
  margin-left: 0;
  margin-right: 0;

}

h4 {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.search-form input {
  width: 100%;
  padding: 5px;
  cursor: pointer;
}


.search-form label {
  font-size: 1.5vh;
  color: whitesmoke;
  padding: 5px;
  font-variant-caps: small-caps;
  font-family: 'Roboto', sans-serif;
}

.search-form #submit {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  background-color: #1E5128;
  border: none;
  color: whitesmoke;
  font-variant-caps: all-small-caps;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
}

p[role=alert] {
  color: rgb(192, 56, 56);
  font-size: 1.5vh;
}

/* .btn{
  width: 100%;
  background-color: #a1acbd;
  border-radius: 0;
  color: whitesmoke;
  font-variant-caps: all-small-caps;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  
} */

.mode-switcher {
  background-color: #1E5128;
  margin-left: 10px;
  margin-right: 10px;
}


.btn{
  background-color: #1E5128;
  border-radius: 0;
  width: 50%;
}

.btn:focus{
  background-color: #4E9F3D;
}

.btn:active{
  background-color: #4E9F3D;
}

.popup {
  border-radius: 0;
}